{% extends 'base.html' %}

{% load static %}
{% block title %} Home {% endblock title %}

{% block body %}
<style type="text/css">
  .carousel-inner {
    background-color: aqua;
    height: 800px;
    width: 100%;
    margin-top: -100px;
    z-index: -1;
    font-family: "Poppins", Arial, sans-serif;
  }

  .carousel-item {
    height: 100%;
  }

  .carousel-inner>.carousel-item img {
    height: 100%;
  }

  .carousel-caption {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 130px;
    top: 250px;
    z-index: 100;
    text-align: left;
  }

  .btn-explore {
    flex: 1 1 auto;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 2px;
    background-color: orangered;
    width: 80px;
    height: 40px;

    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  /* Demo Stuff End -> */

  /* <- Magic Stuff Start */

  .btn-explore:hover {
    /* background-position: right center; */
    /* change the direction of the change here */
  }

  .divsec {
    height: 450px;
    width: 100%;
    background-color: black;
    padding: 40px 40px;
    text-align: center;

  }

  .divsec>.divsec_head {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: orangered;

  }

  .divsec>.divsec_afterhead {
    display: flex;
    padding-top: 20px;
  }

  .divsec_fr {
    height: 280px;
    width: 230px;
    background-color: tr;
    border: 1px solid transparent;
    padding: 5px 20px;
    margin: 0px 25px;
    text-align: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }

  .divsec_fr_descrip {
    color: white;
    width: 200px;
    font-size: 14px;
    text-align: left;
    /* position: relative; */
    padding-top: 20px;


  }

  .divsec_fr_img {
    background-color: transparent;
    height: 80px;
    width: 180px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
  }

  .divsec_fr_imgarea {
    background-color: rgb(38, 38, 38);
    padding: 15px;
    border-radius: 35px;
    height: 75px;
    width: 75px;
  }

  .divsec_fr_img>.divsecimg_imgname {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-left: -10px;
    margin-top: 10px;

  }

  .divsec_fr:hover~.divsec_fr_imgarea {
    color: #fff;
    background-color: #000;
  }

  .divthir {
    height: 900px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }

  .divthir_head>.divthir_head_p {
    font-size: 22px;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .divthir_head>.divthir_descrip {
    font-size: 14px;
    text-align: center;
    width: 400px;
    padding: 0px 300px;
    background-color: transparent;
    width: 100%;
    color: rgb(206, 206, 206);
  }

  .divthir_bdy {
    /* background-color: turquoise; */
    height: 600px;
    padding-top: 1px;

  }

  .divthir_bdy_prt1,
  .divthir_bdy_prt2 {
    /* background-color: red; */
    height: 50%;
    padding: 0px 80px;
    margin-top: 30px;
    display: flex;
  }


  .divthir_bdy_crd1 {
    background-color: rgb(37, 37, 37);
    width: 300px;
    height: 100%;
    text-align: left;
    margin: 0px 50px;

  }


  .divthir_bdy_crd2 {
    background-color: rgb(37, 37, 37);
    width: 500px;
    height: 100%;
    text-align: left;
    margin: 0px 50px;

  }

  .crd2_descrip_l {
    width: 90%;
    /* background-color: aqua; */
    height: 100%;
  }

  .crd2_descrip_r {
    width: 10%;
    /* background-color: aqua; */
    height: 100%;
  }

  .crd2_descrip_r>pre {
    color: rgb(255, 255, 255);
    background-color: orangered;
    position: absolute;
    font-weight: 700;
    margin: 14px 5px;
    padding: 2px 12px;
    font-size: 22px;
    border-radius: 4px;
    cursor: pointer;

  }

  /*  */
  .crd1_img>img {
    height: 230px;
    width: 100%;
  }

  .crd1_img_afterline {
    width: 100%;
    height: 2px;
    background-color: orangered;
  }

  .crd1_descrip {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 12px;
    /* background-color: rgb(255, 119, 0); */
  }

  .crd1_descrip_l {
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
  }

  .crd1_descrip_r {
    width: 20%;
    /* background-color: aqua; */
    height: 100%;
  }

  .crd1_descrip_r>pre {
    color: rgb(255, 255, 255);
    background-color: orangered;
    position: absolute;
    font-weight: 700;
    margin: 14px 5px;
    padding: 2px 12px;
    font-size: 22px;
    border-radius: 4px;
    cursor: pointer;

  }

  .divforth {
    height: 550px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }

  .divforth_pricecrd_sec {
    /* background-color: turquoise; */
    height: 390px;
    padding-top: 1px;
    padding-left: 70px;
    padding-right: 60px;
    display: flex;
  }

  .pricecrd1 {
    padding: 20px 20px;
    border: 1px solid rgb(88, 88, 88);
    height: 100%;
    width: 280px;
    text-align: center;
    border-radius: 40px 0px 40px 0px;
    margin: 0px 30px;

  }

  .pricecrd1:hover {
    background-color: white;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }

  .pricecrd1_details {
    height: 100px;
    width: 90px;
    margin-right: 30px;
    margin-left: 10px;
    /* background-color: rgb(255, 255, 255); */
  }

  .pricecrd1_details>p {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    width: 100px;
    text-align: left;
    height: 5px;
    /* background-color: rgb(40, 132, 214); */
  }


  .buycrd {
    background-color: rgb(88, 88, 88);
    border-radius: 2px;
    width: 230px;
    height: 40px;
    color: white;
    margin-top: 70px;
    outline: 0px solid transparent;
    border: 0px solid transparent;
  }

  .divfifth_gallsec {
    height: 400px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    /* margin: 20px; */
  }

  .gallsec_l {
    width: 50%;
    height: 100%;

  }

  .gallsec_l>img {
    height: 100%;
    width: 95%;
    margin-top: 0px;
  }


  .gallpic_hover {
    position: absolute;
    left: 14px;
    margin-top: -400px;
    height: 400px;
    width: 572px;
    padding-left: 250px;
    padding-top: 160px;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0;
  }

  .gallpic_hover:hover {
    background-color: rgb(0, 0, 0, 0.2);
    opacity: 1;
  }

  #gallpic_hover_img {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 160px;
    left: 250px;
    text-align: center;
  }

  .gallpic_hover2 {
    position: absolute;
    right: 10px;
    margin-top: 0px;
    height: 190px;
    width: 290px;
    padding-left: 250px;
    padding-top: 160px;
    background-color: rgb(0, 0, 0, 0.0);
    cursor: pointer;
    opacity: 0;
  }

  .gallpic_hover2:hover {
    background-color: rgb(0, 0, 0, 0.2);
    opacity: 1;
  }

  #gallpic_hover_img2 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: center;

  }

  .gallpic_hover3 {
    position: absolute;
    right: 310px;
    margin-top: 0px;
    height: 190px;
    width: 290px;
    padding-left: 250px;
    padding-top: 160px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0;
  }

  .gallpic_hover3:hover {
    background-color: rgb(0, 0, 0, 0.2);
    opacity: 1;
  }

  #gallpic_hover_img3 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: center;
  }

  .gallpic_hover4 {
    position: absolute;
    right: 310px;
    margin-top: 0px;
    height: 190px;
    width: 290px;
    padding-left: 250px;
    padding-top: 160px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0;
  }

  .gallpic_hover4:hover {
    background-color: rgb(0, 0, 0, 0.2);
    opacity: 1;
  }

  #gallpic_hover_img4 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: center;
  }

  .gallpic_hover5 {
    position: absolute;
    right: 10px;
    margin-top: 0px;
    height: 190px;
    width: 290px;
    padding-left: 250px;
    padding-top: 160px;
    background-color: rgb(0, 0, 0, 0.0);
    cursor: pointer;
    opacity: 0;
  }

  .gallpic_hover5:hover {
    background-color: rgb(0, 0, 0, 0.2);
    opacity: 1;
  }

  #gallpic_hover_img5 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50px;
    right: 100px;
    text-align: center;

  }

  .gallsec_r {
    /* background-color: rgb(99, 40, 236); */
    width: 50%;
    height: 100%;
  }

  .gallsec_r_up,
  .gallsec_r_down {
    /* background-color: rgb(255, 0, 0); */
    width: 100%;
    height: 50%;
    display: flex;
  }

  .gallsec_r_up>img {
    height: 95%;
    width: 50%;
    margin-right: 10px;

  }
  
  .gallsec_r_down>img {
    height: 95%;
    width: 50%;
    margin-right: 10px;

  }
</style>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% load static %}
      <img src="{% static 'img/pic44.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p style="font-size: 14px; font-weight: 700; color:orangered ;">SHAPE YOUR BODY</p>
        <h2 style="font-size: 45px; font-weight: 800; margin-top: -15px;">BE STRONG</h2>
        <h2 style="font-size: 45px; font-weight: 800">TRAINING HARD</h2>
        <!-- <p style="font-size: 15px; padding-top: 20px; font-weight: 500; color:rgb(255, 255, 255) ;">To get full training and scheduled guidance..</p> -->

        <!-- <button class="btn btn-danger">Join</button> -->
        <button class="btn btn-explore btn-sm">Explore</button>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="divsec">
  <span class="divsec_head"> Why choose us?</span>
  <div class="divsec_afterhead">
    <div class="divsec_fr" onmouseover="bgchange()" onmouseout="bgchangego()">

      <div class="divsec_fr_img">
        <div class="divsec_fr_imgarea" id="bgchange">
          <img src="{% static 'img/dumbbell.png' %}" style="height: 40px; margin-left: -5px;">
        </div>
        <p class="divsecimg_imgname"> Modern <br> Equipments</p>
      </div>
      <p class="divsec_fr_descrip">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
      </p>

    </div>

    <div class="divsec_fr" onmouseover="bgchangetwo()" onmouseout="bgchangegotwo()">
      <div class="divsec_fr_img">
        <div class="divsec_fr_imgarea" id="bgchangetwo">
          <img src="{% static 'img/diet.png' %}" style="height: 40px; width: 40px; margin-left: -5px;">
        </div>
        <p class="divsecimg_imgname">Healthy <br> Nutrition plan</p>
      </div>
      <p class="divsec_fr_descrip">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
      </p>

    </div>
    <div class="divsec_fr" onmouseover="bgchangethree()" onmouseout="bgchangegothree()">
      <div class="divsec_fr_img">
        <div class="divsec_fr_imgarea" id="bgchangethree">
          <img src="{% static 'img/trainer.png' %}" style="height: 40px; margin-left: -5px;">
        </div>
        <p class="divsecimg_imgname"> Proffessional
          <br> Training plans
        </p>
      </div>
      <p class="divsec_fr_descrip">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
      </p>

    </div>
    <div class="divsec_fr" onmouseover="bgchangefour()" onmouseout="bgchangegofour()">
      <div class="divsec_fr_img">
        <div class="divsec_fr_imgarea" id="bgchangefour">
          <img src="{% static 'img/happy.png' %}" style="height: 40px; margin-left: -5px;">
        </div>
        <p class="divsecimg_imgname"> Happy
          <br> Environment
        </p>
      </div>
      <p class="divsec_fr_descrip">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore facilisis.
      </p>

    </div>

  </div>
</div>

<div class="divthir">
  <div class="divthir_head">
    <p style="text-align: center; font-size:15px; color:orangered; height: 15px;">OUR CLASSES</p>
    <p class="divthir_head_p"> CHOOSE YOUR <br>ONLINE WORKOUT
    </p>
    <p class="divthir_descrip">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
      Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a
      story and let your users know a little more about you.</p>

  </div>
  <div class="divthir_bdy">
    <div class="divthir_bdy_prt1">
      <div class="divthir_bdy_crd1">
        <div class="crd1_img">
          <img src="{% static '/img/pose.jpg' %}">
          <div class="crd1_descrip">
            <div class="crd1_descrip_l">
              <span style="font-weight: 600; color: orangered; font-size:12px;">Strength</span>
              <p style="color: white; font-size:18px; font-weight: 700; "> Weight lifting </p>
            </div>
            <div class="crd1_descrip_r">
              <pre>></pre>
            </div>

          </div>
          <!-- <div class="crd1_img_afterline"></div> -->
        </div>
      </div>

      <div class="divthir_bdy_crd2">
        <div class="crd1_img">
          <img src="{% static '/img/pose2.jpg' %}">
          <div class="crd1_descrip">
            <div class="crd2_descrip_l">
              <span style="font-weight: 600; color: orangered; font-size:12px;">Strength</span>
              <p style="color: white; font-size:18px; font-weight: 700; "> Posture Correction </p>
            </div>
            <div class="crd2_descrip_r">
              <pre>></pre>
            </div>

          </div>
          <!-- <div class="crd1_img_afterline"></div> -->
        </div>
      </div>
    </div>

    <div class="divthir_bdy_prt2">

      <div class="divthir_bdy_crd2">
        <div class="crd1_img">
          <img src="{% static '/img/pose3.jpg' %}">
          <div class="crd1_descrip">
            <div class="crd2_descrip_l">
              <span style="font-weight: 600; color: orangered; font-size:12px;">Cardio</span>
              <p style="color: white; font-size:18px; font-weight: 700; "> Cardio Fitness </p>
            </div>
            <div class="crd2_descrip_r">
              <pre>></pre>
            </div>

          </div>
          <!-- <div class="crd1_img_afterline"></div> -->
        </div>
      </div>
      <div class="divthir_bdy_crd1">
        <div class="crd1_img">
          <img src="{% static '/img/pose.jpg' %}">
          <div class="crd1_descrip">
            <div class="crd1_descrip_l">
              <span style="font-weight: 600; color: orangered; font-size:12px;">Strength</span>
              <p style="color: white; font-size:18px; font-weight: 700; "> Core Strength </p>
            </div>
            <div class="crd1_descrip_r">
              <pre>></pre>
            </div>

          </div>
          <!-- <div class="crd1_img_afterline"></div> -->
        </div>
      </div>


    </div>
  </div>
</div>
<div class="divforth">
  <div class="divthir_head">
    <p style="text-align: center; font-size:15px; color:orangered; height: 15px;">OUR PLANS</p>
    <p class="divthir_head_p"> CHOOSE OUR <br>AFFODABLE PLANS
    </p>
    <!-- <p class="divthir_descrip">Choose our afordable plans.</p> -->
  </div>

  <div class="divforth_pricecrd_sec">
    <div class="pricecrd1" id="pricecrd1" onmouseover="pricecrd1_hover()" onmouseout="pricecrd1_out()">
      <p id="pricecrd1_details" style="height: 10px; color: white; font-size: 18px; font-weight: 700;">1 Month </p>
      <span style="color: orangered; font-size: 40px; font-weight: 700;"> $ 39.0</span>
      <p id="pricecrd1_details" style=" color: white; font-weight: 600;">Multiple classes includes </p>
      <div class="" style="color: white; display: flex;">
        <div class="pricecrd1_details" id="pricecrd1_details">
          <p id="pricecrd1_details">* Free riding</p> <br>
          <p id="pricecrd1_details">* Unlimited equipments</p><br>
          <p id="pricecrd1_details">* Personal trainer</p>
        </div>
        <div class="pricecrd1_details" id="pricecrd1_details">
          <p id="pricecrd1_details">* Weight losing classes</p><br>
          <p id="pricecrd1_details">* Month to mouth</p><br>
          <p id="pricecrd1_details">* No time restriction</p>
        </div>
      </div>
      <button id="buycrdbtn_hover" class="buycrd">Enroll </button>
    </div>
    <div class="pricecrd1" id="pricecrd1" onmouseover="pricecrd1_hover2()" onmouseout="pricecrd1_out2()">
      <p id="pricecrd1_details2" style="height: 10px; color: white; font-size: 18px; font-weight: 700;">1 Month </p>
      <span style="color: orangered; font-size: 40px; font-weight: 700;"> $ 39.0</span>
      <p id="pricecrd1_details2" style=" color: white; font-weight: 600;">Multiple classes includes </p>
      <div class="" style="color: white; display: flex;">
        <div class="pricecrd1_details" id="pricecrd1_details">
          <p id="pricecrd1_details2">* Free riding</p> <br>
          <p id="pricecrd1_details2">* Unlimited equipments</p><br>
          <p id="pricecrd1_details2">* Personal trainer</p>
        </div>
        <div class="pricecrd1_details" id="pricecrd1_details">
          <p id="pricecrd1_details2">* Weight losing classes</p><br>
          <p id="pricecrd1_details2">* Month to mouth</p><br>
          <p id="pricecrd1_details2">* No time restriction</p>
        </div>
      </div>
      <button id="buycrdbtn_hover2" class="buycrd">Enroll </button>
    </div>
    <div class="pricecrd1" id="pricecrd1" onmouseover="pricecrd1_hover3()" onmouseout="pricecrd1_out3()">
      <p id="pricecrd1_details3" style="height: 10px; color: white; font-size: 18px; font-weight: 700;">1 Month </p>
      <span style="color: orangered; font-size: 40px; font-weight: 700;"> $ 39.0</span>
      <p id="pricecrd1_details3" style=" color: white; font-weight: 600;">Multiple classes includes </p>
      <div class="" style="color: white; display: flex;">
        <div class="pricecrd1_details" id="pricecrd1_details">
          <p id="pricecrd1_details3">* Free riding</p> <br>
          <p id="pricecrd1_details3">* Unlimited equipments</p><br>
          <p id="pricecrd1_details3">* Personal trainer</p>
        </div>
        <div class="pricecrd1_details" id="pricecrd1_details">
          <p id="pricecrd1_details3">* Weight losing classes</p><br>
          <p id="pricecrd1_details3">* Month to mouth</p><br>
          <p id="pricecrd1_details3">* No time restriction</p>
        </div>
      </div>
      <button id="buycrdbtn_hover3" class="buycrd">Enroll </button>
    </div>
  </div>
</div>

<div class="divforth">
  <div class="divthir_head">
    <p style="text-align: center; font-size:15px; color:orangered; height: 15px;">GALLERY</p>
    <p class="divthir_head_p">BEST FITNESS GALLERY </p>

    <div class="divfifth_gallsec">
      <div class="gallsec_l">
        <img src="{% static '/img/pose.jpg' %}">
        <div class="gallpic_hover">
          <img id="gallpic_hover_img" src="{% static '/img/gallery.png' %}">
        </div>

      </div>
      <div class="gallsec_r">
        <div class="gallsec_r_up">
          <img src="{% static '/img/pose2.jpg' %}">
          <div class="gallpic_hover2">
            <img id="gallpic_hover_img2" src="{% static '/img/gallery.png' %}">
          </div>
          <img src="{% static '/img/pose2.jpg' %}">
          <div class="gallpic_hover3">
            <img id="gallpic_hover_img3" src="{% static '/img/gallery.png' %}">
          </div>
        </div>
        <div class="gallsec_r_down">
          <img src="{% static '/img/pose2.jpg' %}">
          <div class="gallpic_hover4">
            <img id="gallpic_hover_img4" src="{% static '/img/gallery.png' %}">
          </div>
          <img src="{% static '/img/pose2.jpg' %}">
          <div class="gallpic_hover5">
            <img id="gallpic_hover_img5" src="{% static '/img/gallery.png' %}">
          </div>
        </div>
      </div>

    </div>
    <!-- <p class="divthir_descrip">Choose our afordable plans.</p> -->
  </div>

</div>
<script>
  function bgchange() {
    document.getElementById("bgchange").style.backgroundColor = 'orangeRed';
  }
  function bgchangego() {
    document.getElementById("bgchange").style.backgroundColor = 'rgb(38, 38, 38)';

  }
  function bgchangetwo() {
    document.getElementById("bgchangetwo").style.backgroundColor = 'orangeRed';
  }
  function bgchangegotwo() {
    document.getElementById("bgchangetwo").style.backgroundColor = 'rgb(38, 38, 38)';

  }
  function bgchangethree() {
    document.getElementById("bgchangethree").style.backgroundColor = 'orangeRed';
  }
  function bgchangegothree() {
    document.getElementById("bgchangethree").style.backgroundColor = 'rgb(38, 38, 38)';

  }
  function bgchangefour() {
    document.getElementById("bgchangefour").style.backgroundColor = 'orangeRed';
  }
  function bgchangegofour() {
    document.getElementById("bgchangefour").style.backgroundColor = 'rgb(38, 38, 38)';

  }
  function pricecrd1_hover() {
    document.querySelectorAll("#pricecrd1_details")
      .forEach((element) => {
        element.style.color = "black";
      });
    document.querySelectorAll("#buycrdbtn_hover")
      .forEach((element) => {
        element.style.backgroundColor = "orangered";
      });
  }
  function pricecrd1_hover2() {
    document.querySelectorAll("#pricecrd1_details2")
      .forEach((element) => {
        element.style.color = "black";
      });
    document.querySelectorAll("#buycrdbtn_hover2")
      .forEach((element) => {
        element.style.backgroundColor = "orangered";
      });
  }
  function pricecrd1_hover3() {
    document.querySelectorAll("#pricecrd1_details3")
      .forEach((element) => {
        element.style.color = "black";
      });
    document.querySelectorAll("#buycrdbtn_hover3")
      .forEach((element) => {
        element.style.backgroundColor = "orangered";
      });
  }
  function pricecrd1_out() {
    document.querySelectorAll("#pricecrd1_details")
      .forEach((element) => {
        element.style.color = "white";
      });
    document.querySelectorAll("#buycrdbtn_hover")
      .forEach((element) => {
        element.style.backgroundColor = "rgb(88, 88, 88)";
      });
  }
  function pricecrd1_out2() {
    document.querySelectorAll("#pricecrd1_details2")
      .forEach((element) => {
        element.style.color = "white";
      });
    document.querySelectorAll("#buycrdbtn_hover2")
      .forEach((element) => {
        element.style.backgroundColor = "rgb(88, 88, 88)";
      });
  }
  function pricecrd1_out3() {
    document.querySelectorAll("#pricecrd1_details3")
      .forEach((element) => {
        element.style.color = "white";
      });
    document.querySelectorAll("#buycrdbtn_hover3")
      .forEach((element) => {
        element.style.backgroundColor = "rgb(88, 88, 88)";
      });
  }

</script>
{% endblock %}