.navbar{
    height: 1000px;
    width: 1000px;
    background-color: black;
}
.navbar-brand{
    color: red;
}
.carousel-inner{
    background-color: aqua;
    height: 60px;
    width: 100%;
  }
  .carousel-item{
    height: 100%;
  }
 .carousel-inner > .carousel-item img{
height: 100%;
  }

  